@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-everything(true); //Flexbox mode foundation


body{
   -webkit-background-size: cover;
   background-size: cover;
}

.hello{
    display: flex;
    justify-content: center;
}
h1 {
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    font-size: 10vw;
    color: ghostwhite;
    text-align: center;
    background-color: rgba(200,200,200,.5)
}

#weather h6{ 
    text-align: right;
    margin: 3vh;
    font-size: 4vh;
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    color: ghostwhite;
    background-color: rgba(200,200,200,.5);
    position: fixed;
    top: 0;
    right: 0;
}

#q h6{
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    color: ghostwhite;
    background-color: rgba(200,200,200,.5);
    font-size: 2vw;
    position:fixed;
    bottom:0;
    left: 0;
}

#todo{
    position: fixed;
    top: 0;
    left: 0;
    color: ghostwhite;
    background-color: rgba(200,200,200,.75);
}
